@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #ffffff;
  color: #000000;
}